*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.boxlogin{
    margin: 20px 450px;
    background: #a69174;
    border: #000000;
    height: 65vh;
    border-radius: 30px;
    overflow: hidden;
}

  /* Full-width inputs */
  input[type=email], input[type=password] {
    width: 50%;
    padding: 12px 15px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #482d07b6;
    color: white;
    font-size: 15px;
    margin-top: 25px;
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 30%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  
  /* Add padding to containers */
  .containerlogin {
    padding: 16px;
  }

.container1 {
    padding-left: 155px;
    padding-top: 22px;
    padding-bottom: 20px;
}
  
a{
    color: inherit;
    text-decoration: none;
}

* {
    padding:0;
    margin:0;
    font-family: Tahoma, sans-serif;
}

a{
    color: inherit;
    text-decoration: 0;
}

.medsos{
    padding:5px 0;
    background-color: #a69174;
}

.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.container:after{
    content: '';
    display: block;
    clear: both;
}

header h1{
    text-align: center;
    padding: 15px 0;
    color: #a69174;
}

header ul{
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a{
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover {
    background-color: #a69174;
    color: #fff;
}

.active{
    background-color: #a69174;
    color: #fff;
}

footer {
	padding:30px 0;
	color: #333;
	text-align: center;
}

.grup-offset{
    padding-top: 20px;
    line-height: 20px;
    font-size: 15px;
    word-spacing: 50px;
    padding-left: 10px;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: center;
    cursor: pointer;
} 
form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
